<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <img class="product_show_img" src="<%= @product.image_url %>">
</p>

<p>
  <strong>Colour:</strong>
  <%= @product.colour %>
</p>

<p>Average Rating: <div class="text-center rated" data-score="<%= @product.average_rating %>"></div> </p>

<%= render 'new_comment' %>
<%= render 'product_reviews' %>
<p><%= will_paginate @comments %></p>

<%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-info' %> |
<%= link_to 'Back', products_path, class: 'btn btn-success' %>
